In [31]:
import tensorflow as tf
import pickle
import pandas as pd

In [32]:
X=tf.placeholder(tf.float32, shape=[None,784])
y=tf.placeholder(tf.float32,shape=[None,10])

In [33]:
W=tf.Variable(tf.zeros([784,10]))
b=tf.Variable(tf.zeros([10]))

In [34]:
with open('Dataset/train_X.p', 'rb') as f:
    train_X = pickle.load(f)
train_X.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,5,0,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,1,2,0,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
with open('Dataset/train_y.p', 'rb') as f:
    train_y= pickle.load(f)
train_y = pd.get_dummies(train_y)
train_y.head()

   0  1  2  3  4  5  6  7  8  9
0  0  0  1  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  1
2  0  0  0  0  0  0  1  0  0  0
3  1  0  0  0  0  0  0  0  0  0
4  0  0  0  1  0  0  0  0  0  0

In [36]:
with open('Dataset/test_X.p', 'rb') as f:
    test_X = pickle.load(f)
with open('Dataset/test_y.p', 'rb') as f:
    test_y = pickle.load(f)
test_y = pd.get_dummies(test_y)

In [37]:
print("Shape of train_X:",train_X.shape)
print("Shape of train_y:",train_y.shape)
print("Shape of test_X:",test_X.shape)
print("Shape of test_y:",test_y.shape)

Shape of train_X: (60000, 784)
Shape of train_y: (60000, 10)
Shape of test_X: (10000, 784)
Shape of test_y: (10000, 10)

In [38]:
train_x=train_X[:55000]
train_Y=train_y[:55000]

In [39]:
train_x.shape

(55000, 784)

In [40]:
val_x=train_X[55000:]

In [41]:
val_x.shape

(5000, 784)

In [42]:
val_y=train_y[55000:]

In [43]:
val_y.shape

(5000, 10)

In [51]:
test_y.shape

(10000, 10)

In [ ]:
with open('Data/train_X.p', 'rb') as f:
    train_X = pickle.load(f)
with open('Data/train_y.p', 'rb') as f:
    train_y = pickle.load(f)
with open('Data/test_X.p', 'rb') as f:
    test_X = pickle.load(f)
with open('Data/test_y.p', 'rb') as f:
    test_y = pickle.load(f)
with open('Data/val_X.p', 'rb') as f:
    val_X = pickle.load(f)
with open('Data/val_y.p', 'rb') as f:
    val_y = pickle.load(f)

In [49]:
with open('Data/train_X.p', 'wb') as f:
    pickle.dump(train_x,f)
with open('Data/train_y.p', 'wb') as f:
    pickle.dump(train_Y,f)
with open('Data/test_X.p', 'wb') as f:
    pickle.dump(test_X,f)
with open('Data/test_y.p', 'wb') as f:
    pickle.dump(test_y,f)
with open('Data/val_X.p', 'wb') as f:
    pickle.dump(val_x,f)
with open('Data/val_y.p', 'wb') as f:
    pickle.dump(val_y,f)